@charset "UTF-8";
/* [차동현] category css */
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}

.lesson-title{
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  cursor: pointer;
}

.category-main{
	width: 970px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 200px;
}

.category_banner{
	padding-top: 30px;
}

.category_banner > img{
	border-radius: 5px;
}

div.category-main div.category-icon{
	height: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

div.category-main div.category-icon > a{
	text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

div.category-main div.category-icon > a:hover{
	color: #1a93ff;
	transition: 0.3s ease; 
}

div.category-main div.category-icon > a > span > img{
	padding-bottom:26px;
}

/* 이다솔 css */
select:focus{
	outline: none;
}
div.categoryBar{
	position: relative;
    display: table;
    border-collapse: separate;
}

div.categoryBar>span.lessonCnt{
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.25;
	letter-spacing: normal;
	text-align: left;
	color: #323232;
}
div.categoryBar>span.lessonCnt>span{
	color: #1b93ff;
}

/* select css */
span.sortSelect{
    width: 150px;
    height: 45px;
    padding: 7px 0 7px 0;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #323232;
    background:url('../image/arrow-down.png') no-repeat 93% 50%/15px auto;
}
span.sortSelect select{
    width: 150px;
    height: 45px;
    padding-left: 40px;
	border:0;
    -webkit-appearance:none;
    appearance:none;
    box-sizing: border-box;
    background:transparent;
    
    font-size: 14px;
    font-weight: 500;
    color: #323232;
}
span.sortSelect>select>option{
  width: 58px;
  height: 16px;
  padding: 0 32px 0 0;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

div.imgbox{
	overflow: hidden;
    border-radius: 10px;
    width: 233px;
    height: 155px;
 }
img.category-img {
  width: 230px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}
  
img.category-img:hover{
	transform:scale(1.1);             /*  default */
	-webkit-transform:scale(1.1);     /*  크롬 */
	-moz-transform:scale(1.1);       /* FireFox */
	-o-transform:scale(1.1);           /* Opera */
}

.category-lesson>p {
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}
table.category-lesson tr *{
	margin: 5px 4px 5px 3px;
}
table.category-lesson tr{
	margin-top: 50px;
}
