/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* [임현정] 리셋 css 끝*/

/* [임현정] 전체적용 css */
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}
p::selection{
	background-color: #f1f9ff;
    color: #3ea4ff;
  }

a::selection{
	background-color: #f1f9ff;
    color: #3ea4ff;
  }
  
span::selection{
	background-color: #f1f9ff;
    color: #3ea4ff;
  }
  


/* [임현정][조아라] header 시작 */
div.header{
	width: 100%;
	height: 75px;
	display: flex;
    align-items: center;
    z-index: 9999;
    background: #fff;
     position: absolute;
	  top: 0;
	  left: 0;
}


div.header.drop {
 position: fixed;
 animation: dropHeader 0.3s;
 border-bottom: 1px solid #f2f2f2;
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

div.header > div.headercontent{
	width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
div.header > div.headercontent > a.logo{
	display: inline-block;
	width: 106px; height: 16px;
	line-height: 25px;
	margin-top: 20px;
}
div.header > div.headercontent > a.logo img{
	width: 106px; height: 16px;
}
div.header > div.headercontent > div.headerlogin{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}
div.header > div.headercontent > div.headerlogout{
	
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 280px;
    justify-content: space-between;
}

button.logoutbtn{
	font-size: 16px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

div.header > div.headercontent > div.headerlogout a.cart{
	line-height: 34px;
}
        
div.header > div.headercontent > div.headerlogout > a.cart > span.cnt{
	min-width: 20px;
    height: 20px;
    display: inline-block;
    background: #f6fafe;
    border: solid 1px #1b93ff;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #1a93ff;}


div.header > div.headercontent > div.headerlogin >button.gaipbtn{
 	width: 90px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color: #1a93ff;
    font-size: 16px;
    margin-left: 10px;
    border: 0;
    font-family: NotoSansKR-Regular !important;
    outline: 0;
    letter-spacing: -0.8px;
    cursor: pointer;
}

div.header > div.headercontent > div.headerlogout >button.mypage{
 	width: 94px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color: #1a93ff;
    font-size: 16px;
    border: 0;
    font-family: NotoSansKR-Regular !important;
    outline: 0;
    letter-spacing: -0.8px;
    cursor: pointer;
}

div.header > div.headercontent > div.searchbar >form{
	display: block;
	margin-top: 0;
	word-break: break-word;
}

div.header > div.headercontent > div.searchbar >form >div.searchinput{
	width: 336px;
	height: 43px;
	border-radius:5px;
	margin-top: 10px;
	border: solid 1px #e2e2e2;
	background-color: #fff;   
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	align-items: stretch;
	box-sizing: border-box;
}
div.header > div.headercontent > div.searchbar >form >div.searchinput>div.searchimg>img.simg{
	vertical-align: middle;
	border-style: none;
	align-items: center;
	margin: auto;
	max-width: 100%;
}

div.header > div.headercontent > div.searchbar >form >div.searchinput>div.searchimg{
	padding-right: 0.5rem;
	border: none;
	margin: 0;
	display: flex;
	box-sizing: border-box;
	margin-left: 10px;
}
div.header > div.headercontent > div.searchbar >form >div.searchinput>input.searchtext::placeholder{
	font-size: 16px;
	color: #b6b6c7;
}
div.header > div.headercontent > div.searchbar >form >div.searchinput>input.searchtext{
	border: none;
	font-size: 15px;
	line-height: 1.3;
	height: auto;
	padding: 0;
	width: 85%;
	background-color: white;
	background-clip: padding-box;
	display: block;
	caret-color: #1a93ff;
	border: none;
	outline: none;
	color: #1a93ff;
}

/* [임현정][조아라] header 끝 */

/* [임현정] main 시작 */
div.main{
	width: 970px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 100px;
}
div.main  p.title{
	font-weight: bold;
	font-size: 22px;
}

/* [임현정] swiper banner 시작 */
.swiper.mySwiper{
	width: 100%;
	height: 262px;
	border-radius: 5px;
	padding-top: 30px;
  }

  .swiper-slide.banner{
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide.banner img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
  }


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 3px;
  	}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 20px;
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
	opacity: 1;
}


.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
  
}

:root {
    --swiper-theme-color: #1a93ff;
}

/* [임현정] swiper banner 끝 */

/* [임현정] category 시작 */
div.main div.category{
	height: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

div.main div.category > a{
	text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;

}

div.main div.category > a:hover{
	color: #1a93ff;
	transition: 0.3s ease; 
}


div.main div.category > a:active{
	color: #1a93ff;
}


div.main div.category > a > span > img{
	padding-bottom:26px;
}

   
/* [임현정] category 끝 */

/* [임현정] section01 시작 */
div.main div.section01{
	height: 320px;
}

div.main div.section01 > div.tags{
	padding-top: 30px;
}

div.main div.section01 > div.tags > img{
	padding-right: 10px;
}

div.po-slider{
	width: 100%; position: relative;
}

.swiper.mainswiper{
	width: 100%;
	height: 190px;
  }

  
  .swiper-slide.mainswiper {
	text-align: left;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  div.swiper-slide.mainswiper{
    flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
  }
  
  


.swiper-button-next {
     background: url(../image/next.png) no-repeat;
    width: 47px;
    right: -26px;
}

.swiper-button-prev {
  background: url(../image/prev.png) no-repeat;
    width: 47px;
    left: -26px;
    
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


div.swiper-slide.mainswiper > div.imgbox{
    overflow: hidden;
   flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
}
  
.swiper-slide.mainswiper > div.imgbox > img.swiper-img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
 }

.swiper-slide.mainswiper > div.imgbox > img.swiper-img:hover{
	transform:scale(1.1);             /*  default */
	-webkit-transform:scale(1.1);     /*  크롬 */
	-moz-transform:scale(1.1);       /* FireFox */
	-o-transform:scale(1.1);           /* Opera */
}


  div.swiper-slide.mainswiper > p.swipertitle{
	position: absolute;
	top: 140px;
	left: 0;
	width: 220px;
    font-size: 16px;
    color: #363636;
    font-weight: 500;
    letter-spacing: -0.4px;
  }

  div.swiper-slide.mainswiper > p.money{
	position: absolute;
	top: 166px;
	left: 0;
	width: 220px;
  	font-size: 16px;
    font-weight: 600;
}


/* [임현정] section01 끝 */

/* [임현정] section02 시작 */
div.main div.section02{
	height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 80px;
    padding-top: 100px;
}

div.main div.section02 > div{
	width: 474px; height: 95px;
	background-color: #fafafa;
	border-radius: 5px;
	display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;   
    justify-content: space-between; 
}

div.main div.section02 > div > span{
	line-height: 28px;
    padding-left: 24px;
    font-weight: 500;
}

div.main div.section02 > div > span.gray{
	line-height: 28px;
    padding-left: 24px;
    font-weight: 500;
}

div.main div.section02 > div > span > b{
	color: #ababab;
}
    

div.main div.section02 > div > img{
	padding-right: 28px;
}
/* [임현정] section02 끝 */


/* [임현정] section03 시작 */
div.main div.section03{
	padding-bottom: 100px;
}

 .swiper.sub01{
	width: 100%;
	height: 170px;
  }

  
  .swiper-slide.sub01 {
	text-align: left;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  div.swiper-slide.sub01{
    flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
  }

div.swiper-slide.sub01 > div.imgbox{
    overflow: hidden;
   flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
}
  
.swiper-slide.sub01 > div.imgbox > img.swiper-img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
 }

.swiper-slide.sub01 > div.imgbox > img.swiper-img:hover{
	transform:scale(1.1);             /*  default */
	-webkit-transform:scale(1.1);     /*  크롬 */
	-moz-transform:scale(1.1);       /* FireFox */
	-o-transform:scale(1.1);           /* Opera */
}

 div.swiper-slide.sub01 > p.swipertitle{
	position: absolute;
    top: 140px;
    left: 0;
    width: 220px;
    font-size: 16px;
    color: #363636;
    font-weight: 500;
    letter-spacing: -0.4px;
  }

/* [임현정] section03 끝 */

/* [임현정] section03-2 시작 */

div.main div.section03-2{
	padding-bottom: 100px;
}

 .swiper.sub02{
	width: 100%;
	height: 170px;
  }

  
  .swiper-slide.sub02 {
	text-align: left;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  div.swiper-slide.sub02{
    flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
  }

div.swiper-slide.sub02 > div.imgbox{
    overflow: hidden;
   flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
}
  
.swiper-slide.sub02 > div.imgbox > img.swiper-img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
 }

.swiper-slide.sub02 > div.imgbox > img.swiper-img:hover{
	transform:scale(1.1);             /*  default */
	-webkit-transform:scale(1.1);     /*  크롬 */
	-moz-transform:scale(1.1);       /* FireFox */
	-o-transform:scale(1.1);           /* Opera */
}

 div.swiper-slide.sub02 > p.swipertitle{
	position: absolute;
    top: 140px;
    left: 0;
    width: 220px;
    font-size: 16px;
    color: #363636;
    font-weight: 500;
    letter-spacing: -0.4px;
  }
/* [임현정] section03-2 끝 */


/* [임현정] section04 시작 */
div.main div.section04{
	height: 328px;
}

div.main div.section04 div.se04layout{
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    line-height: 24px;
    padding-top: 30px;
}

div.main div.section04 div.se04layout p.name{
	padding-top:10px;
	font-size: 16px;
    font-weight: 500;
}


div.main div.section04 div.se04layout p.job{
	font-size: 14px;
    color: #a5a5a5;
}

div.main div.section04 div.se04layout p.mark{
	font-size: 14px;
    font-weight: 500;
}

div.main div.section04 div.se04layout p.mark > img{
	padding-right: 6px;
}

/* [임현정] section04 끝 */

/* [임현정] section05 시작 */
div.main div.section05{
	padding-bottom: 100px;
}

 .swiper.sub03{
	width: 100%;
	height: 170px;
  }

  
  .swiper-slide.sub03 {
	text-align: left;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  div.swiper-slide.sub03{
    flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
  }
  
div.swiper-slide.sub03 > div.imgbox{
    overflow: hidden;
   flex-shrink: 0;
    width: 230px;
    height: 132px;
	/*margin-right: 15px !important;*/
    position: relative;
    transition-property: transform;
	background-color: #e2e2e2;
	border-radius: 5px;
}
  
.swiper-slide.sub03 > div.imgbox > img.swiper-img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
 }

.swiper-slide.sub03 > div.imgbox > img.swiper-img:hover{
	transform:scale(1.1);             /*  default */
	-webkit-transform:scale(1.1);     /*  크롬 */
	-moz-transform:scale(1.1);       /* FireFox */
	-o-transform:scale(1.1);           /* Opera */
}
  div.swiper-slide.sub03 > p.swipertitle{
	position: absolute;
    top: 140px;
    left: 0;
    width: 220px;
    font-size: 16px;
    color: #363636;
    font-weight: 500;
    letter-spacing: -0.4px;
  }
  
/* [임현정] section05 끝 */


/* [임현정] main 끝 */


/* [임현정][조아라] footer 시작 */ 
div.footer{
	width: 100%;
    height: 370px;
    align-items: center;
    border-top: 2px solid #e2e2e2;
    padding-top: 22px;
    background-color: #fff;
}
div.footer > div.footercontent{
	width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
div.footer > div.footercontent > div.topfooter{
	width: 100%;
	display: flex;
    flex-direction: row;    
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
   	font-size: 14px;
}


div.footer > div.footercontent > div.topfooter > span > a{
	width:136px;
	height: 36px;
    background-color: #1a93ff;
    display: inline-block;
    border-radius: 100px;
    margin-right: 8px;
    color:#fff;
    line-height: 36px;
    font-size: 12px;
  	font-weight: 500;
  	text-align: center;
}

div.footer > div.footercontent > div.topfooter > span > a > img{
	vertical-align: middle;
	margin-top: -0.25rem;
	padding-right: 0.25rem;
	
}

div.footer > div.footercontent > div.topfooter p.footer-hp{
	font-size: 20px;
    line-height: 30px;
    color: #1a93ff;
    font-weight: 600;
}

div.footer > div.footercontent > div.topfooter p.footer-time{
	line-height: 24px;
    color: #767676;
    padding-bottom: 30px;
}

div.footer > div.footercontent > div.topfooter > span.topfooter-right{
	width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 26px;
	text-align: center;
	font-size: 14px;
	letter-spacing: -0.2px;
}

div.footer > div.footercontent > div.topfooter > span.topfooter-right > span> p.contop{
	font-weight: bold;
}

div.footer > div.footer-bottom{
	width: 970px;
    margin: 0 auto;
    line-height: 20px;
    font-size: 12px;
    color: #767676;
    font-weight: 500;
}

div.footer > div.footer-bottom p.f-boram3{
	line-height: 20px;
    padding-top: 6px;
    color: #767676;
}

div.footer > div.footer-bottom p.f-address{
	color: #767676;
    line-height: 18px;
}

/* [임현정][조아라] footer 끝 */