@charset "UTF-8";

*{
	/* 폰트 'Noto Sans KR', sans-serif(고딕체) 두 가지 적용 */
	/* !important 강제적용 */
	font-family: 'Noto Sans KR', sans-serif !important;
	color: #363636;
}

/* 비밀번호 찾기 */
.findPwdiv {
	align-items: center;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	z-index: 1;
  	width: 100%;
  	height: 100%;
  	background-color: #fafafa;
}
/* 비밀번호 찾기(헤더,타이틀) */
.findPwHead {
	/* 위치 지정 */
  	width: 420px;
    height: 32px;
    font-size: 26px;
    font-weight: 500;
    color: #565656;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

/* 비밀번호 찾기 양식 div */
.findPwFrame {
	/* 위치 지정 */
	width: 390px;
    height: 520px;
  	border-radius: 5px;
  	border: solid 1px #f2f2f2;
  	background-color: #fff;
  	margin-bottom: 200px;
}

/* 입력 폼 */
.findPwForm {
	font-family: Noto Sans KR;
	padding-top: 45px;
	padding-left: 38px;
}
th {
	font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    color: #565656;
}

/* input박스 */
.inputbox {
	width: 300px;
    height: 40px;
    margin-top: 6px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    outline: none;
}

.inputbox:focus {
	border: 1px solid #1b93ff;
	color: #1b93ff;
}
/* placeholder속성 */
.inputbox::placeholder {
	font-family: NotoSansKR-Regular !important;
	font-size: 16px;
	color: #c1c1c1;
}
/* placeholder속성 + 여기다 주면 placeholder css 안머거요*/
findPwTable::placeholder {
	font-family: NotoSansKR-Regular !important;
	font-size: 16px;
	color: red;
}

/* 비밀번호 찾기 버튼 */
td.findPwBtn {
	padding-top: 38px;
}
.findPwBtn > button {
	cursor: pointer;
    border-radius: 5px;
    background-color: #1b93ff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 100px;
    width: 314px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    outline: none;
    border: 0;
}

.preText {
	padding-top: 30px;
}
.preText pre {
	color: #999;
    font-size: 14px;
    font-family: NotoSansKR-Regular !important;
    line-height: 20px;
    margin-bottom: 8px;
}


