@charset "UTF-8";
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}
div.myCart>table{
	width: 970px;
}

div.myCart{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
   	padding-bottom: 150px;
   	padding-top: 150px;
}
table.myCart caption{
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: -0.48px;
  text-align: left;
  color: #323232;
  margin-bottom: 30px;
  margin-left: 10px;
}
table.myCart th {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  vertical-align: top;
  color: #369;
  border-bottom: 2px solid #1b93ff;
}
th.className{
	text-align: left;
}
th.className>span{
	margin-left: 0;
}
table.myCart tbody tr{
  border-bottom: 1px solid #737373;
}
table.myCart tfoot tr{
  border: 0;
}
table.myCart tbody td{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #323232;
}
table.myCart td.mycartCb{
	text-align: center;
}
/* 체크박스 */
table.myCart input{
  width: 17px;
  height: 17px;
}
table.myCart img{
  width: 120px;
  height: 80px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 15px;
  cursor: pointer;
}

table.myCart th.cartPrice{
	text-align: center;
}
table.myCart td.cartPrice{
	text-align: center;
	padding-left: 100px;
	padding-right: 10px;
}
table.myCart td.cartPrice>span{
	vertical-align: middle !important;
	width: 160px;
	text-align: center;
}

table.myCart td > div > span.cartTitle{
	width: 560px;
    vertical-align: middle !important;
    line-height: 20px;
}

div.allPrice{
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #323232;
  align-content: right;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 20px;
}
td.btnDel{
	text-align: left;
}
button.btnDel{
  width: 200px;
  height: 45px;
  border-radius: 5px;
  background-color: #e6e6e6;
  border: 0;
  cursor: pointer;
}
button.btnDel>span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #565656;
}

button.btnPay{
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #1b93ff;
  background-color: #f6fafe;
  cursor: pointer;
}

button.btnPay{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #1b93ff;
  margin-left: auto;
  cursor: pointer;
}

.cartlesson{
	cursor: pointer;
	display: inline-block;
}
