@charset "UTF-8";
/* [조아라] search css */
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}

div.searchresult {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  padding-bottom: 200px;
}
div.searchresult > span.sresult{
  width: 200px;
  height: 35px;
  margin: 150px 0px 20px 0px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: #565656;
}

div.searchresult > div.searchclass{
	width: 100%;
	height: 400px;
	display: flex;
	
}


div.searchresult > div.searchclass >span.search_nofind{
  width: 600px;
  height: 150px;
  font-size: 18px;
  font-weight: 500;
  margin:auto;
  color: #565656;
  text-align: center;
	
}

/* [조아라] searchok css */
div.searchclass{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    margin-bottom: 50px;
    margin-top: 50px;
}
.searchclass-img {
  width: 235px;
  height: 140px;
  border-radius: 5px;
  
}
.searchclass-lesson>div.classbottom{
  margin-bottom: 30px;
}
.searchclass-lesson>div.bottomclass>p{
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}

p.lesson-t{
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  cursor: pointer;
}

div.searchclass-lesson>img.searchclass-img { cursor: pointer; }

table.searchclass-lesson tr *{
   margin: 4px;
}
table.searchclass-lesson tr{
   margin-top: 60px;
}


div.searchclass-lesson{
	margin-bottom: 120px;
}