@charset "UTF-8";
/* [이다솔] 수강리뷰 작성 CSS */
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}
div.review{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 740px;
    background-color: #fafafa;
    /* margin-bottom: 50px; */
    margin-top: 60px;
    max-height: 100%;
}
div.review table.review{
  width: 800px;
  margin-left: 100px; 
  margin-top: 100px;
 }
div.review table.review tr *{
	margin-top:15px;
}
div.review table.review caption{
	margin-bottom: 20px;
}
div.review table.review tr.review *{
	margin-top:5px;
}
div.review caption.review{
  width: 800px;
  height: 24px;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: -0.48px;
  text-align: left;
}

div.review table.review th>span{
  width: 464px;
  height: 16px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}
div.review button.review{
     height: 45px;
    border-radius: 5px;
    border: solid 1px #1b93ff;
    background-color: #f6fafe;
    width: 200px;
    font-size: 16px;
}
button.review:hover{
	cursor: pointer;
}
div.review button.review>span{
  width: 57px;
  height: 16px;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #1b93ff;
}
/* 별점 CSS */

div.review .star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.2em;
  justify-content:space-around;
  padding:0 .4em;
  text-align:center;
  width:5em;
  border: 1px solid gainsboro;
  border-radius: 100px;
}

div.review .star-rating input {
  display:none;
}

div.review .star-rating label {
  color:#ccc;
  cursor:pointer;
}

div.review .star-rating :checked ~ label {
  color:#fc0;
}

div.review .star-rating label:hover,
.star-rating label:hover ~ label {
  color:#f90;
}

div.star-rating, .star-rating span.star-fill {
    background: url("") no-repeat;
    height: 30px;
}