<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>

<body>
<h3>Detail Page</h3>
  <div th:object="${dto}">
      <h4>번호 : <span th:text="*{num}"></span></h4>
      <h4>상품명 : <span th:text="*{sangpum}"></span></h4>
      <h4>수량 : <span th:text="*{su}"></span></h4>
      <h4>단가 : <span th:text="*{dan}"></span></h4>
      <div th:style="'background-color:'+*{color}+';width:300px;font-size:2em'">색상 :
          <span th:text="*{color}"></span>
      </div>
  </div>
    <hr>
  <div th:object="${dto}">
      <h4>번호 : [[*{num}]]</h4>
      <h4>상품명 : [[*{sangpum}]]</h4>
      <h4>수량 : [[*{su}]]</h4>
      <h4>단가 : [[*{dan}]]</h4>
      <div th:style="'background-color:'+*{color}+';width:300px;font-size:2em'">색상 :
          [[*{color}]]
      </div>
  </div>

</body>
</html>