<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>

<body>
<h5>Shop 목록 출력</h5>
    <hr>

    <h3>리스트 출력</h3>
    <table style="width:500px" class="table table-bordered">
      <thead>
      <tr style="background-color: orange">
        <th>index</th>
        <th>번호</th>
        <th>상품명</th>
        <th>수량</th>
        <th>단가</th>
        <th>색상</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto,iter:${list}">
        <td>
          <a th:href="@{/detail(index=${iter.index})}">
            <span th:text="${iter.index}"></span>:
            <span th:text="${iter.count}"></span>
          </a>
        </td>
        <td>
          <span th:text="${dto.num}"></span>
        </td>
        <td>
        <span th:text="${dto.sangpum}"></span>
        </td>
        <td>
          <span th:text="${dto.su}"></span>
        </td>
        <td>
          <span th:text="${#numbers.formatInteger(dto.dan,0,'COMMA')}"></span>
          &nbsp;
          <th:block th:if="${dto.dan>50000}">
            <span>비싸다</span>
          </th:block>
          <th:block th:unless="${dto.dan>50000}">
            <span>싸다</span>
          </th:block>   
        </td>
        <td>
          <span th:text="${dto.sangpum}"></span>
        </td>
      </tr>
      </tbody>
    </table>
</body>
</html>